<html>
	<head><title>Menu Program</title></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

<style>

.w3-button {width:150px;}
.w3-sofia {font-family: Sofia, cursive;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

</style>

<body>

<div class="w3-container w3-sofia">
 <center> <p class="w3-xxlarge"> Working on LV (Logical Volume)</p> </center>
</div>
<div class="w3-container">
  <ul class="w3-ul w3-hoverable">
<br />
<li><b><a href="#" >Click Here </b>: To view available LV's</li>
<br />
<li><b><a href="#" >Click Here </b>: To create new LV</li>
<br />
<li><b><a href="#" >Click Here </b>: To delete any LV</li>
<br />
<li><b><a href="#" >Click Here </b>: To Extend the size of LV</li>
<br />
<li><b><a href="#" >Click Here </b>: To Reduce the size of LV</li>	
</div>
</br> 

<form action="/home">
<div class="w3-container">
<center><p><button class="w3-button w3-indigo">Home</button></p></center>
</div></form>

</body>
</html>
