<html>

<head> <title> Main Menu </title> </head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
.w3-sofia {
  font-family: Sofia, cursive;
}
</style>

<body>
<div class="w3-container w3-sofia">
 <center> <p class="w3-xxlarge">Select from Menu</p> </center>
</div>

<div class="w3-container">
  <ul class="w3-ul w3-hoverable">
    <li><b>Press 1 </b>: To view available storage devices</li>
    <li><b>Press 2 </b>: To view available partitions</li>
    <li><b>Press 3 </b>: To work on PV (Persistent Volume)</li>
    <li><b>Press 4 </b>: To work on VG (Volume Group)</li>
    <li><b>Press 5 </b>: To work on LV (Logical Volume)</li>
  </ul>
</div>
<br />

<div class="w3-container">
 <form class="w3-container w3-card-4 w3-light-grey" action="/test">
  <p>      
  <label><b><center>Enter Your Choice :</center></b></label>
  <input class="w3-input w3-border" type="text" name="choice"></p>
</div>
<br />
<div class="w3-container">
<center><p><button class="w3-button w3-indigo" type='submit'>Proceed</button></p></center>
</div>

</form>


</body>
</html>




