<html>
	<head><title>Persistent Volume</title></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
.w3-button {width:150px;}
.w3-sofia {font-family: Sofia, cursive;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

</style>

<script>
function goBack() {
  window.history.back();
}
</script>

<body>
<div class="w3-container w3-sofia">
 <center> <p class="w3-xxlarge">Working on PV (Persistent Volume)</p> </center>
</div>

<div class="w3-container">
  <ul class="w3-ul w3-hoverable">
<br />
<li><b><a href="#" >Press 1 </b>: To view available PV</a></li>
<br />
<li><b><a href="#" >Press 2 </b>: To create new PV</a></li>
<br />
<li><b><a href="#" >Press 3 </b>: To Delete PV</a></li>
</div>
<br /> <br />
<div class="w3-container">
 <form class="w3-container w3-card-4 w3-light-grey" action="/output">
<p>      
  <label><b><center>Enter Your Choice :</center></b></label>
  <input class="w3-input w3-border" type="text" name="pv-value"></p>
</div>
<br />
<div class="w3-container">
<center><p><button class="w3-button w3-indigo" type='submit'>Proceed</button></p></center>
</div>
</form>

<form action="/home">
<div class="w3-container">
<center><p><button class="w3-button w3-indigo">Home</button></p></center>
</div></form>
</body>
</html>
