<html>
	<head><title>Menu Program</title></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
.w3-button {width:150px;}
.w3-sofia {
  font-family: Sofia, cursive;
}
</style>
<body>

<form action="/test">
	
<div class="w3-container w3-sofia">
 <center> <p class="w3-xxlarge">Working on VG (Volume Groups)</p> </center>
</div>

<div class="w3-container">
  <ul class="w3-ul w3-hoverable">
<li>Press 1 : To view available VG's</li>
<li>Press 2 : To create new VG</li>
<li>Press 3 : To Delete VG</li>	
</div>

<br />
Enter your choice : <input  type=text name="choice" />
<br /> <br />
<input type=submit>

</form>

<form action="/test">
<div class="w3-container">
<center><p><button class="w3-button w3-indigo">Home</button></p></center>
</div></form>
</body>
</html>
