<html>
	<head><title>Menu Program</title></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=shadow-multiple">
<style>
.w3-button {width:150px;}
.w3-lobster { font-family: "Lobster", Sans-serif;}
</style>
<body>
<form action="/home">
	<br /> <br />
<div class="w3-container w3-lobster">
	<center>
<p class="w3-xxxlarge font-effect-shadow-multiple">Welcome to Menu Program</p></center>
</div>
	<br /> <br />
	<div class="w3-container">
<center><p><button class="w3-button w3-indigo" type='submit'>Continue</button></p></center>
</form>
</body>
</html>
